.creditcard_less_content
  .title 支払い方法
  .menu
    .creditcard_menu
      .menu__title クレジットカード一覧
      = link_to "#" , class:"btu-color" do
        .menu__btn
          = fa_icon 'credit-card', class:'icon-card'
          クレジットカードを追加する
    .creditcard_introduction
      = link_to "#", class:"text-color" do
        支払い方法について
        = fa_icon 'angle-right', class:'icon-right'
