.creditcard_content
  .creditcard_content__title 支払い方法
  .creditcard_list_content
    .creditcard_list_content__border-bottom
      .creditcard_list_content__title
        .creditcard_list_content__title--text クレジットカード一覧
      .creditcard_list
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3856598694", size: "49x15", alt: "visa"
        .creditcard_list__num ************0000
        .creditcard_list__num 00 / 00
        %button.settings-payment-remove{type: "submit"}
          削除する
    .creditcard_introduction
      = link_to "#", class:"text-color" do
        支払い方法について
        = fa_icon 'angle-right', class:'icon-right'
