.wrapper-member-info {
  height: 100%;
  background: #f5f5f5;
}


  .signup-page-header {
    height: 128px;
    text-align: center;
    .personal-entry__header {
      display: inline-block;
      a {
        width: 185px;
        height: 49px;
        line-height: 49px;
        img {
          margin: 40px 0 0;
          width: 185px;
          height: 49px;
        }  
      }
    }
  .progress-bar {
    display: inline-block;
    vertical-align: top;
    padding: 40px 0 0 44px;
    border: 0;
    .clearfix {
      li {
        margin: 0 40px 0 0;
        position: relative;
        z-index: 1;
        display: inline-block;
        min-width: 40px;
        // margin: 0 5% 0 0;
        font-size: 12px;
        color: #888;
      &.active {
        font-weight: 600;
        color: #ea352d;
        //↑acitveの文字を赤くする
      }
      
      &.through {
        .progress-status:after{
          &:last-of-type
          {
          content: none;
          }
        }
      }
        .progress-status {
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          background: #ccc;
          border-radius: 50%;
          &::before {
            right: 50%;
          }
          &::after
          {
            left: 50%;
          }
          &::before, &::after{
            position: absolute;
            bottom: 5px;
            z-index: -1;
            // display: inline;
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
          }
        }
      }
    }
  }
  // throughの丸点
  .progress-bar li.through .progress-status {
    background: #ea352d;
  }
  // activeの丸点
  .progress-bar li.active .progress-status {
    background: #ea352d;
  }
  // throughの左の線
  .progress-bar li.through .progress-status:before {
    background: #ea352d;
  }
  // throughの左の線
  .progress-bar li.through .progress-status:after {
    background: #ea352d;
  }
  // activeの左の線
  .progress-bar li.active .progress-status:before {
    background: #ea352d;
  }
  .progress-bar li:last-child .progress-status:after {
    background:#f5f5f5;
  }
  .progress-bar li:first-child .progress-status:before {
    background:#f5f5f5;
  } 
}


.info-content {
  background: #fff;
  width: 700px;
  margin: 0 auto;
  &__head {
    padding: 24px 8px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }
  .info-inner.registration-form {
    padding: 40px 16px;
    border-top: 1px solid;
    color: #f5f5f5;
    .main-content {
      max-width: 320px;
      margin: 0 auto;
      .form-group {
        margin: 40px 0 0;
        label {
          color: #333;
          font-weight: 600;
        }
        .form-require, .form-arbitrary, .message-is-seller, .news-private {
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
          background: #ea352d;
        }
        .input-default {
          width: 100%;
          margin: 8px 0 0;
          // height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        .sub-head {
          font-weight: bold;
          font-size: 18px;
          color: #333;
        }
        .l-single-text {
          color: #333;
        }
        .birthday-select-wrap {
          .select-wrap {
            width: 76px;
            display: inline-block;
            margin: 8px 0 0;
          }
          select {
            width: 100%;
          }
          .select-default {
            position: relative;
            z-index: 2;
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            cursor: pointer;
            -webkit-appearance: none;
          }
          .angle-down {
            font-size: 25px;
            color: gray;
            position:relative;
            bottom: 36px;
            left: 50px;
          }
          .ymd {
            position: relative;
            color: #333;
            bottom: 36px;
            font-size: inherit;
          }
        }
      }
      .form-info-text {
        color: #888;
      }
      .text-center {
        color: #333;
        text-align: center;
        a {
          color: #0099e8;
          text-decoration: none;
        }
      }
      .btn-red {
        margin: 40px 0 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
      }
      .btn-default {
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
      }
      .text-right {
        text-align: right;
        a {
        color: #0099e8;
        text-decoration: none;
        }
        .angle-right {
          color: #0099e8;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }
}













// .info-header {
//   height: 128px;
//   text-align: center;
//   h1 {
//     margin: 40px 0 0;
//     display: inline-block;
//     margin: 11px 0 12px;
//     
//   }
//   .signup-bar.progress-bar {
//     padding: 40px 0 0 44px;
//     border: 0;
//     // display: inline-block;
//   }
//   .progress-bar {
//     display: inline-block;
//     vertical-align: top;
//     .clearfix {
//       li {
//         margin: 0 40px 0 0;
//         position: relative;
//         z-index: 1;
//         display: inline-block;
//         min-width: 40px;
//         margin: 0 5% 0 0;
//         font-size: 12px;
//         color: #888;
//       li.active {
//         font-weight: 600;
//         color: #ea352d;
//         .progress-status {
//           position: absolute;
//           bottom: 5px;
//           z-index: -1;
//           // display: block;
//       }
//     }
//     }
//   }
//   }
// }