.wrapper {
  box-sizing: border-box;
  background:#f5f5f5;


  .mypage-header {
    height: 48px;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    background: #fff;
    &__ul{
      width: 1020px;
      margin: 0 auto;
      line-height:48px;
      }
  .header-list {
    font-size: 14px;
    display:inline;
    line-height: 48px;
    a:hover {
      color: #888;
      text-decoration: underline;
    }
    &__link{
      text-decoration: none;
      color: #333;
    }
  }
    .icon-right {
      margin: 0 8px;
      font-size: 15px;
      color: #888;
      font-weight: bold;
    }
    .top {
      font-weight: bold;
    }
  }

  .margin {
    margin: 40px auto 0;
    width: 1020px;
  }

  .side-bar {
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    background-color: #fff;
    &__nav-list{
      height: 48px;
      a:hover {
        background-color:#fafafa;
      }
      &--link{
        text-decoration: none;
        position: relative;
        display: block;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        border-top: 1px solid #eee;
        .icon-right {
          float: right;
          color: #ccc;
          font-weight: bold;
          font-size: 22px;
          line-height: 13px;
        }
      }
    }
    &__nav-head {
      padding: 40px 0 0;
      background:#f5f5f5;
      font-weight:bold;
    }
  }

  .profile_content {
    background-color: #fff;
    float: right;
    height: 568px;
    width: 700px;
    &__profile {
      font-size: 24px;
      padding: 8px 0px;
      font-weight:bold;
      text-align:center;
      background-color: #fff;
    }
    .back_ground_image {
      background-image:image-url("user-bg.jpg");
      height: 156px;
    }
    .setting_profile {
      padding: 72px 200px 0px;
      display: flex;
      &__icon {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-size: 100%;
        }
      &__name {
          width: 190px;
          height: 30px;
          margin: auto;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          font-size: 15px;
        }
      }
    .textarea {
      padding: 60px 15px 16px;
      &__view{
        min-height: 200px;
        width: 97%;
        padding: 10px;
        display: block;
        border: 1px solid #ccc;
      }
    }
    .submit_btn {
      display: block;
      width: 95%;
      height: 48px;
      line-height: 40px;
      font-size: 14px;
      border: 1px solid #ea352d;
      cursor: pointer;
      text-align: center;
      background-color: #ea342d;
      color: #fff;
      margin: 0 auto;
    }
  }

  .logout_content {
    background-color: #fff;
    float: right;
    height: 188px;
    width: 700px;
    position: relative;
    &__logout_btn {
      width: 318px;
      height: 48px;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      text-decoration: none;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      cursor: pointer;
      text-align: center;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  .identity_information_content {
    float: right;
    background: #fff;
    width: 700px;
    height: 1200px;
    &__title {
      font-size: 24px;
      padding: 8px 24px;
      font-weight: bold;
      text-align: center;
      border-bottom: 2px solid #f5f5f5;
      color: #333;
    }
    .form_content {
      padding: 64px;
    }
    p {
      color: #333;
      font-size: 14px;
      margin: 8px 0 0;
      line-height: 1.5;
    }
    .text_right {
      color: #0199e8;
      float: right;
      text-decoration: none;
      a:hover {
        color: #72c2f1;
        text-decoration: underline;
      }
      .icon-right {
        font-size: 20px;
        font-weight: bold;
      }
    }
    .form_group {
      clear: both;
      padding: 30px 0 0;
      &__label {
        font-size: 14px;
        font-weight: bold;
        color: #333;
      }
      &__value {
        font-size: 13px;
      }
      &__any {
        background-color: #ccc;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
    }
    .input-default {
      width: 537px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
    .select-wrap{
      position: relative;
      &__icon-bottom{
        position: absolute;
        right: 0;
        font-size: 28px;
        font-weight: bold;
        color: #888;
        line-height: 44px;
        padding-right: 16px;
        }
      }
      .select-default{
        position: relative;
        z-index: 2;
        height: 44px;
        width: 572px;
        padding: 0 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: 0;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
      }
      .btn-red {
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
      }
      .btn-default {
        margin: 40px 0 0 0;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        }
      }

  .creditcard_content {
    float: right;
    background: #fff;
    width: 700px;
    height: 364px;
    &__title {
      font-size: 24px;
      padding: 8px 24px;
      font-weight: bold;
      text-align: center;
      border-bottom: 2px solid #f5f5f5;
      color: #333;
    }
    .creditcard_list_content {
      padding: 64px;
      &__title {
      max-width: 320px;
      margin: 0 auto;
      &--text {
        font-weight: bold;
      }
    }
    &__border-bottom {
      height: 100%;
      padding-bottom:  20px;
      border-bottom: 1px solid #eee;
    }
  }
  .creditcard_list {
    height: 64px; 
    width: 320px;
    margin: 0 auto;
    position: relative;
    padding: 24px 0px 0px 0px;
    &__num {
      font-size: 14px;
    }
  }
  .creditcard_introduction {
      float: right;
      margin: 40px 10px;
      font-size: 14px;
      .text-color {
        text-decoration: none;
        color: #0199e8;
      }
      a:hover {
        color: #72c2f1;
        text-decoration: underline;
      }
      .icon-right {
        font-size: 20px;
        font-weight: bold;
      }
    }
    .settings-payment-remove {
      position: absolute;
      top: 30px;
      right: 0;
      padding: 4px 6px;
      background: #fff;
      border-radius: 3px;
      border: 1px solid #ea352d;
      color: #ea352d;
    }
  }

  .creditcard_less_content {
      float: right;
      width: 700px;
      height: 358px;
      background: #fff;
      .title {
        font-size: 24px;
        padding: 8px 24px;
        font-weight: bold;
        text-align: center;
        border-bottom: 2px solid #f5f5f5;
        color: #333;
      }
      .menu {
        width: 572px;
        border-bottom: 1px solid #eee;
        margin: 64px 64px 40px 64px;
        &__title {
          font-size: 16px;
          font-weight: bold;
          margin: 0px 126px;
        }
        &__btn {
          height: 48px;
          width: 318px;
          margin: 24px 126px;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          text-align: center;
          line-height: 48px;
          font-size: 14px;
          .icon-card {
            margin-right: 16px;
            font-weight: bold;
          }
        }
      }
      .creditcard_introduction {
        float: right;
        margin: 40px 10px;
        font-size: 14px;
        .text-color{
          text-decoration: none;
          color: #0199e8;
        }
        a:hover {
          color: #72c2f1;
          text-decoration: underline;
        }
        .icon-right {
          font-size: 20px;
          font-weight: bold;
        }
      }
      .btu-color {
        text-decoration: none;
      }
    }

    .mypage_content {
      width: 700px;
      float: right;
      .mypage_backg_round {
        height: 200px;
        background-image: url('user-bg.jpg');
        &__image {
          width: 700px;
          height: 111px;
          padding:45px 0px;
          text-align: center;
        }
        .mypage_link {
          text-decoration: none;
        }
        .bold {
          font-size: 12px;
          margin:0 8px 8px;
          font-weight: bold;
          color: #333;
        }
        .mypage-number {
          font-size: 13px;
          color: #333;
        }
        .icon {
          height: 60px;
          width: 60px;
          border-radius: 50%;
        }
      }
      .notice {
        height: 382px;
        width: 700px;
        background:#fff;
        &__title {
          height: 72px;
          padding: 0 16px;
          background: #fafafa;
          font-size: 16px;
          line-height: 72px;
          font-weight: bold;
        }
        &__during_trading {
          float: left;
          width: 350px;
          height: 72px;
          background:#fff;
          border-top: 2px solid #ea352d;
          text-align: center;
          line-height: 70px;
          font-weight: bold;
        }
        &__past_transactions {
          float: right;
          width: 350px;
          height: 72px;
          background:#eee;
          text-align: center;
          line-height: 72px;
          font-weight: bold;
        }
        &__margin {
          clear: both;
          height: 100px;
        }
        &__logo {
          background-image: url("mercarilogo.jpg");
          background-size: cover;
          height:80px;
          width: 90px;
          margin: 0 auto;
        }
        &__status {
          padding: 30px 0 60px;
          clear: both;
          font-weight: bold;
          text-align:center;
          color: #ccc;
        }
      }
      .product_purchased {
        height: 382px;
        width: 700px;
        margin: 40px 0 0;
        background:#fff;
        &__title {
          height: 72px;
          padding: 0 16px;
          background: #fafafa;
          font-size: 16px;
          line-height: 72px;
          font-weight: bold;
        }
        &__during_trading {
          float: left;
          width: 350px;
          height: 72px;
          background:#fff;
          border-top: 2px solid #ea352d;
          text-align: center;
          line-height: 70px;
          font-weight: bold;
        }
        &__past_transactions {
          float: right;
          width: 350px;
          height: 72px;
          background:#eee;
          text-align: center;
          line-height: 72px;
          font-weight: bold;
        }
        &__margin {
          clear: both;
          height: 50px;
        }
        &__logo {
          background-image: url("mercarilogo.jpg");
          background-size: cover;
          height:80px;
          width: 90px;
          margin: 0 auto;
        }
        &__status {
          padding: 30px 0 60px;
          clear: both;
          font-weight: bold;
          text-align:center;
          color: #ccc;
        }
      }
    }




}