.toppage_slider
  %ul.t
    %li.item
      .toppage_slider1
    %li.item
      .toppage_slider2
        .ts
          .inner
            %h2 スマホでかんたん
            %h2 フリマアプリ
            %p メルカリはスマホカメラからすぐに出品できる
            %p 購入時も安心な独自システムのアプリです
            .top-main-visual-store.clearfix
              %a.pull-left{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"}
                %img.icon{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2399382397"}/
              %a.pull-left{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"}
                %img.icon{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2399382397"}/
          %img.sumaho{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?2399382397"}/
    %li.item
      .toppage_slider3
