-# = render 'products/top-page/toppage-header'
-# = render 'products/mypage/mypage-header'
-# = render 'products/items/details'
-# = render 'products/top-page/toppage-footer'
= render 'products/member-registration/header'
= render 'products/items/sell-items'
= render 'products/member-registration/footer'